.form {
  margin-bottom: 169px;
}

.form__wrapper {
  padding: 70px 10px 70px 70px;

  @media (max-width: 1210px) {
    padding-right: 30px;
  }
  background-image: url("../img/sunset-1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/sunset-2x.jpg");
    background-size: contain;
  }
  background-repeat: no-repeat;
  background-position: left 31px top;

  display: flex;
}

.form__card {
  max-width: 656px;
  margin-left: auto;
  padding: 50px;
  background-color: #ffffff;

  display: flex;
  flex-wrap: wrap;
  text-align: center;

  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
}

.form__title {
  @include reset;
  margin-bottom: 12px;
  width: 100%;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
}

.form__text {
  @include reset;
  margin-bottom: 23px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

.form__label {
  width: calc((100% - 19px) / 2);
  margin-right: 19px;
  margin-bottom: 26px;

  &:nth-child(even) {
    margin-right: 0;
  }
}

.form__label--star {
  position: relative;
  z-index: 10;

  &::after {
    content: "";
    position: absolute;

    left: 17px;
    top: 5px;

    width: 12px;
    height: 12px;

    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
  }
}

.form__input {
  width: 100%;
}

.form__input--star {
  padding-left: 31px;
}

.form__button {
  margin: 0 auto;
  padding: 18px 40px 17px;
}

@media (max-width: $desktop-width) {
  .form {
    margin-bottom: 80px;
  }

  .form__wrapper {
    padding: 70px 55px 75px 55px;
    background-position: left top;
    background-size: cover;
  }

  .form__card {
    margin: 0 auto;
    width: 100%;
  }

  .form__label {
    margin-bottom: 21px;
  }

  .form__input--star {
    padding-left: 25px;
  }

  .form__button {
    padding-bottom: 19px;
    padding-left: 82px;
    padding-right: 82px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
  }
}

@media (max-width: $tablet-width) {
  .form {
    background-color: #fbf8f8;
    margin-bottom: 70px;
  }

  .form__wrapper {
    padding: 50px 16px 50px 16px;
    background-image: none;
  }

  .form__card {
    box-shadow: none;
    background-color: #fbf8f8;
    padding: 0;
  }

  .form__title {
    margin-bottom: 20px;
  }

  .form__text {
    margin-bottom: 20px;
  }

  .form__label {
    width: 100%;
    margin-right: 0;
    margin-bottom: 21px;
  }

  .form__button {
    width: 100%;
  }
}
