.header {
  padding-top: 16px;
  padding-bottom: 13px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__menu-btn {
  display: none;
}

.header__wrapper--hidden {
  display: block;
}

.header__close {
  display: none;
}

.header__link {
  font-family: $main-fonts;
  padding: 20px 20px 20px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $secondary-color-text;

  &:last-child {
    margin-right: 0;
  }
}

.header__menu-icon {
  display: none;
}

.header__link--red {
  color: $main-color;
}

.header__link--price {
  margin-right: 34px;
}

.header__link--phone {
  position: relative;
  padding: 20px 14px 20px 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;

  text-decoration: underline;
}

.header__link--phone svg {
  position: absolute;

  left: 0;

  fill: none;
  stroke: $main-color;
}

@media (max-width: $desktop-width) {
  .header {
    padding: 0;
  }

  .header__logo {
    margin: 0;
    margin-right: auto;
    padding: 18px 22px 11px;
  }

  .header__menu-btn {
    display: block;
    position: relative;

    width: 72px;
    height: 50px;

    background-color: $main-color;

    &::after {
      content: "";

      position: absolute;

      width: 22.5px;
      height: 1px;

      left: calc(50% - 11.25px);
      top: 24px;

      background-color: #ffffff;

      box-shadow: 0 6px 0 0 #ffffff, 0 -6px 0 0 #ffffff;
    }
  }

  .header__menu-btn--hidden {
    display: none;
  }

  .header__icon {
    width: 44px;
    height: 17px;
  }

  .header__wrapper {
    min-width: $mobile-width;
    width: 100%;
    position: relative;
    z-index: 10;

    background-color: #ffffff;
  }

  .header__wrapper--hidden {
    display: none;
  }

  .header__wrapper--js {
    position: absolute;
    padding: 67px 0;
    top: 48px;
  }

  .header__close {
    display: none;
    top: -35px;
    right: 20px;
  }

  .header__close--js {
    display: block;
  }

  .header__link {
    display: block;
    position: relative;
    margin: 30px 0 30px;
    padding: 17px 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #48494d;

    background-color: #fbf8f8;
  }

  .header__menu-icon {
    display: block;
    position: absolute;
    top: calc(50% - 7.5px);
    right: 10px;
  }

  .header__link--phone {
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  .header__link--phone svg {
    width: 0;
    height: 0;
  }
}

@media (max-width: $tablet-width) {
  .header__logo {
    padding: 18px 22px 11px 17px;
  }

  .header__menu-btn {
    width: 50px;
    height: 50px;
  }

  .header__wrapper--js {
    padding: 111px 0;
  }
}
