.site-footer {
  position: relative;

  background-color: #ffffff;
}

.site-footer__wrapper {
  padding: 66px 10px 55px 90px;

  display: flex;
  justify-content: flex-start;
}

.site-footer__container--social {
  width: 20%;
  margin-right: 8.3%;
}

.site-footer__container--menu {
  width: 43.9%;
}

.site-footer__container--address {
  width: 23%;
}

.site-footer__logo {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 50px;
}

.site-footer__socials {
  @include reset-list;
  display: flex;
}

.site-footer__social-link {
  position: relative;
  margin-right: 15px;
  width: 26px;
  height: 26px;

  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }
}

.site-footer__social-icon {
  fill: #cdcdcd;

  &:hover {
    fill: rgb(46, 92, 170);
  }
}

.site-footer__heading {
  display: inline-block;
  vertical-align: middle;

  margin-bottom: 27px;

  font-family: $secondary-fonts;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.site-footer__menu {
  @include reset-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: 1300px) {
    .site-footer__menu {
      max-height: 115px;
    }
  }
}

.site-footer__menu-item {
  width: calc((100% - 40px) / 2);
  padding-right: 10px;
}

.site-footer__link {
  display: inline-block;
  vertical-align: middle;
  width: 100%;

  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.site-footer__text {
  @include reset;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
}

.site-footer__border-container {
  width: 100%;
  border-top: 1px solid rgba(102, 102, 102, 0.2);
}

.site-footer__copyright {
  @include reset-list;
  margin: 0 auto;
  padding: 17px 20px 20px;

  display: flex;
  justify-content: space-between;

  @media (min-width: $max-desktop-width) {
    padding-left: 90px;
    justify-content: flex-start;
  }
}

.site-footer__copyright-item {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #1b2d37;

  white-space: nowrap;
  opacity: 0.5;

  @media (min-width: $max-desktop-width) {
    margin-right: 5%;

    &:last-child {
      margin-right: 0;
      margin-left: auto;

      @media (min-width: 1920px) {
        margin-left: 22.4%;
      }
    }
  }
}

.site-footer__copyright-item--move {
  @media (min-width: 1920px) {
    margin-right: 9.6%;
  }
}


.site-footer__toggle {
  position: absolute;
  left: -9999px;
}

@media (max-width: $desktop-width) {
  .site-footer {
    &::before {
      content: "";

      position: absolute;
      width: 100%;
      height: 1px;

      top: 97px;
      left: 0;

      background-color: $main-color-text;
      opacity: 0.2;
    }
  }

  .site-footer__wrapper {
    padding: 20px 20px 36px 25px;
    flex-wrap: wrap;
  }

  .site-footer__container {
    margin: 0;
    width: 45%;
  }

  .site-footer__logo {
    margin-bottom: 0;
  }

  .site-footer__container--social {
    margin: 0 0 61px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .site-footer__container--address {
    width: 55%;
    padding-left: 50px;
  }

  .site-footer__socials {
    padding-top: 13px;
    padding-left: 40px;
  }

  .site-footer__social-link {
    margin-right: 19px;
  }

  .site-footer__heading {
    margin-bottom: 23px;
  }

  .site-footer__menu {
    max-height: none;
  }

  .site-footer__menu-item {
    width: 100%;
    margin-right: 0;
  }

  .site-footer__copyright-item--hide {
    display: none;
  }

  .site-footer__copyright-item--move {
    margin-left: -55px;
    position: absolute;
    top: 37px;
    left: 50%;
  }

  .site-footer__copyright {
    padding: 22px 25px 25px;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: $tablet-width) {
  .site-footer {
    &::before {
      width: 0;
    }

    &::after {
      width: 0;
    }
  }

  .site-footer__wrapper {
    padding: 46px 15px 0;
    margin-bottom: 0;
  }

  .site-footer__copyright-item--move {
    position: absolute;
    margin-left: -117px;
    top: 125px;
    left: 50%;
  }

  .site-footer__container {
    position: relative;
    padding: 0;
    width: 100%;
  }

  .site-footer__container--menu,
  .site-footer__container--address {
    border-top: 1px solid rgba(102, 102, 102, 0.2);
  }

  .site-footer__container--social {
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
  }

  .site-footer__logo {
    margin-bottom: 77px;
  }

  .site-footer__socials {
    padding: 0;
  }

  .site-footer__menu {
    display: none;
    padding-bottom: 24px;
  }

  .site-footer__address {
    display: none;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 26px;
  }

  .site-footer__heading {
    position: relative;
    display: block;
  }

  .site-footer__heading--plus {
    margin: 0;
    padding: 28px 0 28px;
    cursor: pointer;

    &::after {
      content: "";

      position: absolute;

      top: 37px;
      right: 2px;

      width: 16px;
      height: 1px;

      background-color: rgba(102, 102, 102, 0.2);
    }

    &::before {

      content: "";

      position: absolute;

      top: 37px;
      right: 2px;

      width: 16px;
      height: 1px;

      background-color: rgba(102, 102, 102, 0.2);

      transform: rotate(90deg);
    }
  }

  .site-footer__toggle:checked + .site-footer__heading--plus {
    &::before {
      width: 0;
    }
  }

  .site-footer__toggle:checked ~ .site-footer__menu {
    display: block;
  }

  .site-footer__toggle:checked ~ .site-footer__address {
    display: block;
  }

  .site-footer__copyright {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
  }

  .site-footer__copyright-item {
    margin-right: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-footer__menu-item--about {
    order: 1;
  }

  .site-footer__menu-item--products {
    order: 3;
  }

  .site-footer__menu-item--producing {
    order: 5;
  }

  .site-footer__menu-item--installing {
    order: 7;
  }

  .site-footer__menu-item--equipment {
    order: 2;
  }

  .site-footer__menu-item--delivery {
    order: 4;
  }

  .site-footer__menu-item--contacts {
    order: 6;
  }
}
