body {
  min-width: $mobile-width;
  margin: 0;
  padding: 0;

  font-family: $main-fonts;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  color: $main-color-text;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: $main-color-text;

  &:hover {
    opacity: 0.7;
  }
}


img {
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  outline: none;
}

input:not([type="radio"]):not([type="checkbox"]),
textarea,
button {
  appearance: none;
  border-radius: 0;
}

textarea {
  resize: none;
}


.blocked-scrolling {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//Описываем контейнер

.container {
  min-width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0 20px;
    max-width: 1210px;
  }
}

// Повторяющиеся элементы на странице
