//Template Colors
//Можно добавлять цвета из темы
$main-color: #FE7865;
$secondary-color: #F17D4B;
$main-color-text: #2C2E3F;
$secondary-color-text: #141517;

//Template breakpoints
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$max-desktop-width: 1920px;

//Template retina media
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


//Template Fonts for BODY
$main-fonts: "Montserrat", "Arial", sans-serif;
$main-font-size: 16px;
$main-font-weight: 400;
